.DS_Store
*.idea*

.ipynb_checkpoints
__pycache__

*.bin
*.pyc
*.egg-info*
*/dist*
*dist/*
*.eggs*

/src/python/.idea/*

/python/build/*
/python/.cache/*

CMakeFiles/*
Makefile
cmake_install.cmake
*/cmake-build-*
build/*
*/build/*

*.a
*.o

*.pb.h
*.pb.cc

*~
*#

*INFO*
*WARN*
*ERROR*
*FATAL*
*.log
